#main {
	font-family: "Courrier", monospace;
	font-weight: medium;
	/*text-align: justify;*/
	padding-top: 40px;
	font-size: 25px;
	line-height: 30px;
}

.highlight {
	background-color: black;
	color: white;
}

